{% extends 'main/base.html' %}

{% block content %}
  <h2>О нас</h2>
    <p>
        Готовы к дозе милоты? 🐶✨ <br>

        Добро пожаловать в Будку настроения! Здесь вы найдете галерею с сотнями случайных фото очаровательных собачек.
        <br>

        Каждый раз, когда вы обновляете страницу, вас ждут новые пушистые мордашки, готовые поднять настроение и рассмешить.
        <br>

        У нас есть: <br>
        - Разные породы: от пушистых шпицев до лабрадоров, от йорков до бульдогов - здесь вы найдете представителей всех пород!
        <br>
        - Милые моменты: сон, игры, ласка, радость – каждая фотография пропитана чистой собачьей любовью. <br>
        - Позитивная атмосфера: зарядитесь позитивом, просматривая очаровательные фото наших четвероногих друзей. <br>

        Заходите, чтобы увидеть, какой милый пушистик ждет вас сегодня!💖
    </p>
{% endblock %}