{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Будка настроения</title>
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
</head>
<body>
    <header class="header">
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item"><a href="{% url 'index' %}" class="nav-link">Главная</a></li>
          <li class="nav-item"><a href="{% url 'about' %}" class="nav-link">О нас</a></li>
            <li class="nav-item"><a href="{% url 'gallery' %}" class="nav-link">Галерея</a></li>
          <li class="nav-item">
            {% if request.user.is_anonymous %}
              <div><a href="/login/" class="nav-link">Войти</a></div>
            {% else %}
              <form action="{% url 'logout' %}" method="post" class="logout-form">
                {% csrf_token %}
                <button type="submit" class="nav-link logout-button">Logout</button>
              </form>
            {% endif %}
          </li>
        </ul>
      </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>